.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 	#DEB887;
}

.btn1 {
    width: 150px;
    height: 150px;
}
.btn2 {
    width: 150px;
    height: 150px;
}
.btn3 {
    width: 150px;
    height: 150px;
}
.btn4 {
    width: 150px;
    height: 150px;
}
.btn5 {
    width: 150px;
    height: 150px;
}
.btn1:hover {
    background-color:black;
    color:white;
    float: left;
    border: 1px solid green
}
.btn2:hover {
    background-color:black;
    color:white;
    float: left;
    border: 1px solid green
}
.btn3:hover {
    background-color:black;
    color:white;
    float: left;
    border: 1px solid green
}
.btn4:hover {
    background-color:black;
    color:white;
    float: left;
    border: 1px solid green
}
.btn5:hover {
    background-color:black;
    color:white;
    float: left;
    border: 1px solid green
}
.in6{
    width: 85px;
    height: 85px;
    background-color:black;
    color:white;
}